# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*
.secrets/

# Streamlit
.streamlit/secrets.toml

# OS/files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Artifacts
*.log
